<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smartwakala">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".tigo.TigoPesaConfirmTransaction"></activity>
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MaoniActivity" />
        <activity android:name=".VidokezoActivity" />
        <activity android:name=".UserDashboardActivity" />
        <activity android:name=".tigo.TigoPesaUsajiliActivity" />
        <activity android:name=".tigo.TigoPesaIngizaKiasiActivity" />
        <activity android:name=".tigo.TigoPesaWakalaKutoaBenkiActivity" />
        <activity android:name=".tigo.TigoPesaLughaActivity" />
        <activity android:name=".tigo.TigoPesaOldPinActivity" />
        <activity android:name=".tigo.TigoPesaAkauntiYanguActivity" />
        <activity android:name=".tigo.TigoPesaNambaYaWakalaMkuuActivity" />
        <activity android:name=".tigo.TigoPesaNambaYaWakalaActivity" />
        <activity android:name=".tigo.TigoPesaWakalaKutoaPesaActivity" />
        <activity android:name=".tigo.TigoPesaNambaYaMpokeajiActivity" />
        <activity android:name=".tigo.TigoPesaNambaYaMtejaActivity" />
        <activity android:name=".tigo.TigoPesaIngizaPinActivity" />
        <activity android:name=".tigo.TigoPesaUlizaSalioActivity" />
        <activity android:name=".airtel.AirtelMoneyCashDropActivity" />
        <activity android:name=".airtel.AirtelMoneyRejeshaMuamalaActivity" />
        <activity android:name=".airtel.AirtelMoneyAkauntiYanguActivity" />
        <activity android:name=".airtel.AirtelMoneyHudumaNyingineActivity" />
        <activity android:name=".airtel.AirtelMoneyFanyaMalipoActivity" />
        <activity android:name=".airtel.AirtelMoneyUzaBidhaaActivity" />
        <activity android:name=".airtel.AirtelMoneyUzamudaWaMaongeziActivity" />
        <activity android:name=".airtel.AirtelMoneyToaPesaKwaWakalaActivity" />
        <activity android:name=".airtel.AirtelMoneyToaPesaActivity" />
        <activity android:name=".airtel.AirtelMoneyToaPesaKwaMesejiActivity" />
        <activity android:name=".airtel.AirtelMoneyIngizaKiasiActivity" />
        <activity android:name=".airtel.AirtelMoneyIngizaNambayaSimuActivity" />
        <activity android:name=".AccountVerificationActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".RegistrationSuccessActivity" />
        <activity android:name=".UserHelpActivity" />
        <activity android:name=".zantel.EzyPesaAgentInfoConfirmationActivity" />
        <activity android:name=".ttcl.TPesaAgentInfoConfirmationActivity" />
        <activity android:name=".vodacom.MPesaAgentInfoConfirmationActivity" />
        <activity android:name=".halotel.HaloPesaAgentInfoConfirmationActivity" />
        <activity android:name=".airtel.AirtelMoneyAgentInfoConfirmationActivity" /> <!-- <activity android:name=".AirtelMoneyAgentInfoConfirmation" /> -->
        <activity android:name=".TermsAndConditionsActivity" />
        <activity android:name=".TwoFactorAuthenticationActivity" />
        <activity android:name=".UserRegistrationActivity" />
        <activity android:name=".tigo.TigoPesaAgentInfoConfirmationActivity" />
        <activity android:name=".zantel.EzyPesaNumVerificationActivity" />
        <activity android:name=".ttcl.TPesaNumVerificationActivity" />
        <activity android:name=".vodacom.MPesaNumVerificationActivity" />
        <activity android:name=".halotel.HaloPesaNumVerificationActivity" />
        <activity android:name=".airtel.AirtelMoneyNumVerificationActivity" />
        <activity android:name=".RegisterNetSelectionActivity" />
        <activity android:name=".tigo.TigoPesaNumVerificationActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".zantel.EzyPesaActivity" />
        <activity android:name=".LoginNetSelectionActivity" />
        <activity android:name=".halotel.HaloPesaActivity" />
        <activity android:name=".ttcl.TPesaActivity" />
        <activity android:name=".airtel.AirtelMoneyMainActivity" />
        <activity android:name=".tigo.TigoPesaMainActivity" />
        <activity android:name=".vodacom.MPesaActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>