<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smartwakala">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MaoniActivity" />
        <activity android:name=".VidokezoActivity" />
        <activity android:name=".UserDashboardActivity" />
        <activity android:name=".TigoPesaUsajiliActivity" />
        <activity android:name=".TigoPesaIngizaKiasiActivity" />
        <activity android:name=".TigoPesaWakalaKutoaBenkiActivity" />
        <activity android:name=".TigoPesaLughaActivity" />
        <activity android:name=".TigoPesaOldPinActivity" />
        <activity android:name=".TigoPesaAkauntiYanguActivity" />
        <activity android:name=".TigoPesaNambaYaWakalaMkuuActivity" />
        <activity android:name=".TigoPesaNambaYaWakalaActivity" />
        <activity android:name=".TigoPesaWakalaKutoaPesaActivity" />
        <activity android:name=".TigoPesaNambaYaMpokeajiActivity" />
        <activity android:name=".TigoPesaNambaYaMtejaActivity" />
        <activity android:name=".TigoPesaIngizaPinActivity" />
        <activity android:name=".TigoPesaUlizaSalioActivity" />
        <activity android:name=".AirtelMoneyCashDropActivity" />
        <activity android:name=".AirtelMoneyRejeshaMuamalaActivity" />
        <activity android:name=".AirtelMoneyAkauntiYanguActivity" />
        <activity android:name=".AirtelMoneyHudumaNyingineActivity" />
        <activity android:name=".AirtelMoneyFanyaMalipoActivity" />
        <activity android:name=".AirtelMoneyUzaBidhaaActivity" />
        <activity android:name=".AirtelMoneyUzamudaWaMaongeziActivity" />
        <activity android:name=".AirtelMoneyToaPesaKwaWakalaActivity" />
        <activity android:name=".AirtelMoneyToaPesaActivity" />
        <activity android:name=".AirtelMoneyToaPesaKwaMesejiActivity" />
        <activity android:name=".AirtelMoneyIngizaKiasiActivity" />
        <activity android:name=".AirtelMoneyIngizaNambayaSimuActivity" />
        <activity android:name=".AccountVerificationActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".RegistrationSuccessActivity" />
        <activity android:name=".UserHelpActivity" />
        <activity android:name=".EzyPesaAgentInfoConfirmationActivity" />
        <activity android:name=".TPesaAgentInfoConfirmationActivity" />
        <activity android:name=".MPesaAgentInfoConfirmationActivity" />
        <activity android:name=".HaloPesaAgentInfoConfirmationActivity" />
        <activity android:name=".AirtelMoneyAgentInfoConfirmationActivity" /> <!-- <activity android:name=".AirtelMoneyAgentInfoConfirmation" /> -->
        <activity android:name=".TermsAndConditionsActivity" />
        <activity android:name=".TwoFactorAuthenticationActivity" />
        <activity android:name=".UserRegistrationActivity" />
        <activity android:name=".TigoPesaAgentInfoConfirmationActivity" />
        <activity android:name=".EzyPesaNumVerificationActivity" />
        <activity android:name=".TPesaNumVerificationActivity" />
        <activity android:name=".MPesaNumVerificationActivity" />
        <activity android:name=".HaloPesaNumVerificationActivity" />
        <activity android:name=".AirtelMoneyNumVerificationActivity" />
        <activity android:name=".RegisterNetSelectionActivity" />
        <activity android:name=".TigoPesaNumVerificationActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".EzyPesaActivity" />
        <activity android:name=".LoginNetSelectionActivity" />
        <activity android:name=".HaloPesaActivity" />
        <activity android:name=".TPesaActivity" />
        <activity android:name=".AirtelMoneyMainActivity" />
        <activity android:name=".TigoPesaMainActivity" />
        <activity android:name=".MPesaActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>